@media screen and (max-width:1440px) {

    #note {
        padding: 10% 15%;
    }

    .contacticons {
        justify-content: center;
    }

    .projectsul li a h1 {
        font-weight: 500;
    }

    .projectsul {
        padding: 10%;
    }



}