@media screen and (min-width: 664px) and (max-width: 767px) {

    html {
        scroll-behavior: smooth;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }

    body {
        background-color: black;
        color: rgb(255, 247, 235);
    }


    #home,
    #about,
    #projects,
    #note,
    #contact {
        padding: 0;
        margin: 0;
    }


    header {
        display: none;
        height: 0vh;
    }

    .navlist {
        display: none;
    }

    .navbar {
        height: 0vh;
    }

    .navigation {
        height: 0vh;
    }



    #home {
        height: 110vh;
        width: 100%;
        background-image: url(Assests/BG.jpg);
        background-size: 0%;
        display: flex;
    }

    .home-leftcontainer {
        height: 100vh;
        width: 0%;
    }

    .home-rightcontainer {
        height: 100vh;
        width: 100%;
        text-align: center;
        padding: 10px 2%;
    }

    .textbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        text-align: justify;
    }

    .text {
        width: 80%;
    }

    .intro {
        font-size: 1.8rem;
    }

    .intro span {
        color: yellow;
    }


    .title {
        font-size: 2.4rem;
        color: rgb(214, 214, 70);
    }


    .details {
        font-size: 1.2rem;
        text-align: left;
    }

    .icons {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 4rem;
        text-align: center;
        justify-content: center;
        padding-top: 30%;
    }


    .icons .fa-brands,
    .icons .fa-solid {
        color: rgb(255, 253, 158);
        font-size: 2rem;
    }


    #about {
        height: 200vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px 2%;
    }

    .about-leftcontainer {
        height: 100vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex: 1;
    }

    .about-rightcontainer {
        height: 100vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex: 1;
    }

    .circle {
        width: 370px;
        height: 370px;
        background-color: rgb(214, 214, 70);
        ;
        border-radius: 50%;
        align-items: center;
        position: absolute;
    }

    .bgcircle {
        width: 340px;
        height: 340px;
        background-color: rgb(46, 46, 46);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }

    .bgcircle img {
        display: block;
        width: 100%;
        border-radius: 50%;
    }



    .about-leftcontainer {
        height: auto;
        width: 100%;
        text-align: right;
        padding-left: 0%;
        padding-top: 0%;
        padding-bottom: 0%;
    }

    .abouttextbox {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 80%;
        text-align: center;
    }

    .abouttext {
        width: 100%;
    }


    .abouttitle {
        font-size: 2.4rem;
        color: rgb(214, 214, 70);
    }

    .abouttitle {
        display: inline-block;
    }



    .subhead {
        font-size: 1.6rem;
        color: rgb(214, 214, 70);
        display: inline-block;
    }



    .aboutul {
        text-align: justify;
        font-size: 0.9rem;
    }

    .list {
        font-size: 1rem;
        color: rgb(214, 214, 70);
    }

    .aboutintro,
    .aboutoutro {
        font-size: 1.1rem;
    }


    .aboutul li a {
        text-decoration: none;
        color: cyan;
        display: inline-block;
    }


    #projects {
        min-height: 100vh;
        width: 100%;
    }


    .projects-midcontainer {
        min-height: 45vh;
        display: flex;
        align-items: center;
        padding: 2rem;
        justify-content: space-evenly;
        width: 100%;
    }



    .projects-topcontainer {
        height: 18vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }



    .projectstitle {
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: auto;
        margin: auto;
        color: rgb(214, 214, 70);
    }

    .myprojects {
        font-size: 2.5rem;
    }

    .midandbottom {
        display: flex;
    }


    .projects-midcontainer,
    .projects-bottomcontainer {
        height: 70vh;
        display: flex;
        flex-direction: column;

    }

    .projects-midcontainer {
        width: 60%;
    }

    .projects-midcontainer img {
        max-width: 105%;
        height: auto;
        margin: 1rem;
        box-shadow: 0 4px 8px yellow;
    }


    .projects-bottomcontainer {
        width: 45%;
        justify-content: center;
        align-items: center;
        display: flex;
    }



    .projects-bottomcontainer,
    .projectsul {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 9.5rem;
    }


    .projectsul li {
        list-style: none;
    }



    .projectsul li a h1 {
        font-size: 1.3rem;
        font-weight: 600;
        list-style: none;
        text-decoration: none;
        color: cyan;
    }


    #note {
        height: 100vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 10% 10%;
    }

    .dear-reader {
        color: rgb(214, 214, 70);
        font-size: 2.4rem;
        font-weight: 700;
    }

    .para1 {
        font-size: 1.1rem;
        font-weight: 500;
    }

    .para2 {
        font-size: 1.1rem;
        font-weight: 500;
    }

    .para3 {
        font-size: 1.1rem;
        font-weight: 500;
    }


    #contact {
        height: 100vh;
        width: 100%;
        display: flex;
    }

    .contact-leftcontainer {
        display: none;
    }

    .contact-rightcontainer {
        width: 100%;
        height: 100vh;
        display: flex;
        padding: auto;
        align-items: center;
        justify-content: center;
    }


    .contact-rightcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-right: auto;
        padding-bottom: auto;
    }

    .contact-rightcontainer h1 {
        color: cyan;
        font-size: 2.4rem;
        font-weight: 900;
    }

    .contactform {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .contact-inputs {
        width: 300px;
        height: 50px;
        border: none;
        outline: none;
        padding-left: 25px;
        font-weight: 500;
        color: black;
        border-radius: 25px;
    }


    .contactform textarea {
        height: 140px;
        padding-top: 20px;
    }

    .contactform button {
        display: flex;
        align-items: center;
        padding: 15px 30px;
        font-size: 13px;
        color: Black;
        gap: 10px;
        border: none;
        border-radius: 50px;
        background-color: cyan;
        font-weight: 700;
        width: 33%;
    }

    button img {
        display: none;
    }


    .contactme {
        background-color: rgb(51, 50, 36);
        height: 20vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contacticons {
        width: 20%;
        display: flex;
        gap: 3rem;
        text-align: center;
    }


    .contacticons .fa-brands,
    .contacticons .fa-solid {
        color: rgb(255, 253, 158);
        font-size: 1.3rem;
    }




    #footer {
        display: block;
    }

    .contactme {
        background-color: rgb(51, 50, 36);
        height: 20vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contacticons {
        display: flex;
        justify-content: center;
        gap: 2.7rem;
        text-align: center;
    }


    .contacticons .fa-brands,
    .contacticons .fa-solid {
        color: rgb(255, 253, 158);
        font-size: 1.8rem;
    }
}