header {
    background-color: transparent;
    position: fixed;
    height: 12vh;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.8s ease-in-out;
}

header .navigation {
    transition: color 0.3s ease-in-out;
}

header.scrolled {
    background-color: black;
    opacity: 1;
}

header.scrolled.navigation {
    color: black;
}

nav {
    position: fixed;
    height: 12vh;
    width: 100%;
    z-index: 1000;
}


.navigation {
    height: 12vh;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5%
}

.navlist {
    align-items: center;
}

nav ul {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-size: 1.7rem;
    text-decoration: none;
    color: yellow;
    font-weight: 700;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.7s;
}

nav ul li a:hover::after {
    width: 100%;
}

.burger {
    display: none;
}